In [2]:
import numpy as np
import pandas as pd

In [3]:
file_path = '쓰레기 배출/서울특별시 서대문구_구역별 쓰레기배출량_20231031.csv'

In [4]:
try:
    df = pd.read_csv(file_path, encoding = 'cp949')
    print("CSV 파일 로드 완료(cp949)!")
    print(df.head())
except FileNotFoundError:
    print(f"경로 '{file_path}'에 파일이 없습니다. 파일 경로를 확인해주세요.")
except Expection as e:
    print(f"error in file load: {e}")

CSV 파일 로드 완료(cp949)!
        구분      1구역      2구역      3구역
0  2019-01  2151.60  1609.75  2132.26
1  2019-02  1913.73  1501.17  1967.54
2  2019-03  2211.70  1655.33  2153.72
3  2019-04  2132.65  1629.48  2123.52
4  2019-05  2320.92  1824.30  2342.63

In [8]:
df['1구역'] = pd.to_numeric(df['1구역'], errors = 'coerce')
df['2구역'] = pd.to_numeric(df['2구역'], errors = 'coerce')
df['3구역'] = pd.to_numeric(df['3구역'], errors = 'coerce')
df['총 쓰레기(톤)'] = df['1구역'] + df['2구역'] + df['3구역']
df = df.drop(columns=['1구역', '2구역', '3구역'])
print(df.head())

        구분  총 쓰레기(톤)
0  2019-01   5893.61
1  2019-02   5382.44
2  2019-03   6020.75
3  2019-04   5885.65
4  2019-05   6487.85

In [11]:
column_name = '총 쓰레기(톤)'
selected_column = df[column_name]
df[column_name] = selected_column.astype(int)

print(df)

         구분  총 쓰레기(톤)
0   2019-01      5893
1   2019-02      5382
2   2019-03      6020
3   2019-04      5885
4   2019-05      6487
5   2019-06      6051
6   2019-07      6577
7   2019-08      6496
8   2019-09      6203
9   2019-10      6283
10  2019-11      6464
11  2019-12      6326
12  2020-01      6166
13  2020-02      5912
14  2020-03      6184
15  2020-04      5750
16  2020-05      6499
17  2020-06      6566
18  2020-07      6794
19  2020-08      6856
20  2020-09      6493
21  2020-10      6152
22  2020-11      6547
23  2020-12      6234
24  2021-01      5643
25  2021-02      5492
26  2021-03      6317
27  2021-04      5952
28  2021-05      6233
29  2021-06      6296
30  2021-07      6465
31  2021-08      6273
32  2021-09      6167
33  2021-10      6050
34  2021-11      6438
35  2021-12      6092
36  2022-01      5753
37  2022-02      5230
38  2022-03      6036
39  2022-04      5674
40  2022-05      6051
41  2022-06      5955
42  2022-07      6057
43  2022-08      6406
44  2022-09      5994
45  2022-10      5728
46  2022-11      6273
47  2022-12      5998
48  2023-01      5905
49  2023-02      5309
50  2023-03      5946
51  2023-04      5521
52  2023-05      6264
53  2023-06      6101
54  2023-07      6390
55  2023-08      6200
56  2023-09      5564
57  2023-10      6396